#include "resource.h"
#include "winres.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_DIALOG_PREF DIALOG 0, 0, 223, 184
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Audio Preferences"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,110,160,50,14
    PUSHBUTTON      "Apply",IDAPPLY,54,160,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,166,160,50,14
    COMBOBOX        IDC_COMBO_AUDIO_DRIVER,20,35,90,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Driver",IDC_STATIC,20,25,38,8
    COMBOBOX        IDC_COMBO_AUDIO_IN_DEV,20,65,90,120,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Input device",IDC_STATIC,20,55,50,8
    COMBOBOX        IDC_COMBO_AUDIO_OUT_DEV,20,95,90,120,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Output device",IDC_STATIC,20,85,50,8
    COMBOBOX        IDC_COMBO_AUDIO_BUF_SIZE,125,35,70,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Buffer",IDC_STATIC,125,25,38,8
    COMBOBOX        IDC_COMBO_AUDIO_SR,125,65,70,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Sample rate",IDC_STATIC,125,55,50,8
    COMBOBOX        IDC_COMBO_AUDIO_IN_L,20,125,40,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    COMBOBOX        IDC_COMBO_AUDIO_IN_R,65,125,40,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    COMBOBOX        IDC_COMBO_AUDIO_OUT_L,125,125,40,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    COMBOBOX        IDC_COMBO_AUDIO_OUT_R,170,125,40,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS
END

IDD_DIALOG_MAIN DIALOG 0, 0, 300, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Der Tondehr Jazz Beat"
MENU IDR_MENU1
FONT 8, "MS Shell Dlg"
BEGIN
END

IDR_MENU1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Preferences...\tCtrl+,", ID_PREFERENCES
        MENUITEM "&Quit", ID_QUIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_ABOUT
    END
END

IDR_ACCELERATOR1 ACCELERATORS
BEGIN
    VK_OEM_COMMA, ID_PREFERENCES, VIRTKEY, CONTROL, NOINVERT
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,24,0
PRODUCTVERSION 0,1,24,0
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "FileVersion", "0.1.24"
            VALUE "ProductVersion", "0.1.24"
            VALUE "FileDescription", "Der Tondehr Jazz Beat"
            VALUE "InternalName", "DerTondehrJazzBeat"
            VALUE "ProductName", "Der Tondehr Jazz Beat"
            VALUE "CompanyName", "Der Tondehr"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
